site:
  grunt_path: # Leave blank if no grunt.
  root_path: # Leave blank if same as project path.
database:
  database: drupal
  user: drupal
  password: drupal
# Only if the site is hosted on pantheon.
pantheon:
  site_name:
  env: live
# Only if the site is on our staging server.
stage:
  site_name: # Usually will be the folder name which the site is on staging.
  user: # Staging user.
  host: # Staging host.
  port: 2222
  backup_location: # backup location.
